@media (max-width: 767px) {
  .search-icon__open,
  .search-icon__close {
    display: none;
  }

  .logo {
    max-width: none;
    margin: 0;
    width: 100%;
    height: 64px;

    img {
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .form.minisearch label.label {
    position: absolute;
    top: 8px;
    right: 48px;
  }

  .minicart-wrapper {
    position: unset;

    .action.showcart {
      position: absolute;
      top: 8px;
      right: 24px;
    }
  }
}

// .level0.submenu.fullwidth.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
//   display: block !important;
// }

@media (min-width: 768px) {

  .fullwidth-wrapper-inner {
    width: 66% !important;
  }
  
  .top-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 9% 75% 11% 5%;
    grid-template-rows: 5vh 80px;
    border-bottom: 1px solid @grey-light;
    position: relative;


    .page-header {
      display: contents;

      .panel.wrapper {
        grid-row: 1 ~"/" span 1;
        grid-column: 2 ~"/" span 1;
        background-color: unset;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        .panel.header {
          padding: 0 32px 0 0;
          margin: 0px;
        }

        .greet.welcome {
          margin-right: 64px;
        }

        .header.links {

          li {
            font-size: 0;
          }

          .greet.welcome,
          li > a {
            color: @grey-medium;
            text-transform: uppercase;
            font-weight: 100;
            display: inline-block;
            font-size: 14px;
          }

          li > a:hover {
            color: @grey-dark;
            font-weight: 200;
            text-decoration: none;
          }

          li > a::after {
            display: block;
            content: "create an account";
            font-weight: 200;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }

          li.authorization-link > a::after {
            content: "log in";
          }

          .customer-welcome {

            font-size: 1.2rem;
            
            .customer-name,
            .action.switch {
              color: @grey-medium;
            }
          }
        }
      }

      .header.content {
        grid-row: 1 ~"/" span 2;
        grid-column: 1 ~"/" span 1;
        border: 1px solid @grey-light;
        border-bottom: none;
        width: 100%;

        .logo {
          margin: 0;
          border-bottom: none;
          max-width: none;
          height: 100%;
          position: unset;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 85%;
          }
        }
      }
    }

    a[href$='javascript:void(0);'] {
      cursor: unset !important;
    }

    .nav-sections {
      margin-bottom: 0px;
      grid-row: 2 ~"/" span 2;
      grid-column: 2 ~"/" span 2;
      background: none;
      height: 80px;
      

      &-items {
        height: 100%;
      }

      &-item-content {
        height: 100%;
      }

      .navigation {
        background: none;
        grid-row: 2 ~"/" span 1;
        grid-column: 2 ~"/" span 1;
        color: black;
        height: 100%;

        .megamenu {
          position: relative !important;

          &.level0:hover > a {
            color: white !important;
            font-weight: 200;
          }
        }

        .active .level-top span{
          font-weight: 300;
        }

        ul {
          height: 100%;
          display: flex;
          padding: 0;

          &#ui-id-2 {
            max-height: 80px;
          }
        }

        .level-top {
          margin: 0px;
        }

      .level0 {
        margin: 0 !important;
        border: 1px solid @grey-light !important;
        border-right: none !important;
        border-bottom: none !important;
        width: 9%;
        flex: 1 0 auto;
        text-align: center;
        height: 100%;
        max-height: 100%;

        &.submenu a:hover:not([href$='javascript:void(0);']) {
          // color: @color-secondary;
          color: @color-secondary;
          font-weight: 300;
        }
        
        &.submenu a[href$='javascript:void(0);']:hover {
          color: unset;
        }
        
        a.ui-state-focus {
          color: unset;
        }

        &:first-child {
          border-left: none !important;
        }

        &.level-top:hover {
          background-color: @color-secondary;
        }

        &> .level-top {
          color: @grey-medium;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 100;

          &:hover {
            color: white;
          }
        }
      }

      .level1 {
        text-align: left;
        border: none;
      }
    }
  }

    .block-search {
      grid-row: 2 ~"/" span 1;
      grid-column: 4 ~"/" span 1;
      overflow: initial;
      position: relative;
      border: 1px solid @grey-light;
      border-left: none;
      border-bottom: none;
      height: 100%;
      width: 100%;
      padding-left: 0;

      &:hover {
        background-color: @color-secondary;
        color: white;
      }


      .action.search::before {
        display: none;
      }


      .block-content{
        visibility: hidden;
        position: absolute;
        left: 95%;
        top: 0;
        width: 3%;
      }

      .search-icon__checkbox,
      .search-icon__close {
        display: none;
      }

      .search-icon__open {
        z-index: 500;
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        border-left: 1px solid @grey-light;

        .search-icon__search {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(35%, -50%);
        }
      }

      .search-icon__closed {
        z-index: 401;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;

        &:hover {
          color: white;
        }
      }

      .search-icon__checkbox:checked {

        &~ .search-icon__close  {
          display: block;
          position: relative;
          z-index: 400;
          width: 100%;
          height: 100%;
          transition-delay: right 1s;

          &:hover {
            color: white;
            background-color: @color-secondary;

            .search-icon__closed {
              color: white;
            }
          }
        }

        &~ .search-icon__open {
          display: none;
        }

        &~ .block-content {
          visibility: visible;
          transition: 1s;
          left: -1747%;
          top: -1px;
          width: 1747%;
          z-index: 300;


          .input-text {
            height: 80px;
            border: none;
            border-top: 1px solid @grey-light;
            border-right: 1px solid @grey-light;
            padding-left: 24px;
            font-weight: 100;
            letter-spacing: 1px;
          }
        }
      }
    }

    .search-autocomplete {
      min-height: 80px;

      ul:not(:empty) {
        min-height: inherit;
        border: 1px solid @grey-light;
        border-top: 0px;
      }
      .qs-option-name {
        color: @grey-dark;
        font-size: 1.8rem;
      }
    }

    .minicart-wrapper {
      grid-row: 1 ~"/" span 1;
      grid-column: 3 ~"/" span 2;
      background: @color-primary;
      height: 100%;
      margin-left: 0;
      position: relative;
      width: 100%;
      z-index: 5;

      &> a {
        font-size: 10px;
        letter-spacing: 2.3px;
        line-height: 2.5;
        text-transform: uppercase;
        display: flex !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        justify-content: center;
        align-items: center;

        .text {
          position: relative !important;
          padding-left: 8px !important;
          color: white !important;
          height: unset !important;
          width: unset !important;
          margin: 0px 8px !important;

          &::after {
            display: block;
            content: "my order";
            font-weight: 400;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }
        }

        .counter.qty {
          background: #fff !important;
          color: @color-primary !important;
          line-height: unset !important;
          margin: 0px !important;
          padding: 0px !important;
          min-width: 24px !important;
        }
      }

      .action.showcart:before {
        color: white;
        content: none;
      }

      .counter-number {
        text-shadow: none !important;
      }

      &:hover .text {
        font-weight: 400;
      }
    }
  }


}

// breadcrumb 

.breadcrumbs {
  margin-top: 8px;

  .item > a {
    color: @grey-medium;
    font-weight: 100;
  }

  .item:last-child strong  {
    color: @color-secondary;
  }
}

