.header.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header .panel{

  &.wrapper {
    background-color: black;
  }

  &.header {
    padding: 0px;
  }
}

.page-header{
  background-color: #eee;
}

.nav-sections-item-content{
  background-color: #ff5402;
}

.navigation {
  background: none;
  width: auto;
  flex: 1 0 auto;

  ul {
   display: flex;
  }


  .level0 {
    margin: 0 !important;
    border: 1px solid black !important;
    border-right: none !important;
    width: 9%;
    flex: 1 0 auto;
    text-align: center;

    &:last-child {
      border-right: 1px solid black !important;
    }

    &> .level-top {
      color: white;
    }
  }

  .level1 {
    text-align: left;
    border: none;
  }

  .ui-menu-item {

  }
}

.block-search {
  width: 25px;
  overflow: hidden;
  position: unset;


  .block-content {
    opacity: 0;
    transition: all .4s;
  }

  .search-icon__checkbox,
  .search-icon__close {
    display: none;
  }



  .search-icon__closed {
   z-index: 401;
  }

  .search-icon__checkbox:checked {

    &~ .search-icon__close  {
      position: relative;
      display: initial;
      z-index: 400;
      background-color: white;
    }

    &~ .search-icon__open {
      display: none;
    }

    &~ .block-content {
      animation: slide-in 0.5s forwards;
      opacity: 1;
      position: absolute;
      left: 14%;
      top: 39%;
      width: 84%;

      .input-text {
        height: 50px;
        }
    }
  }




}



