a {
  color: black;
}

.logo {
  margin: 0;
  position: absolute;
  width: 15%;
  height: 106px;
  top: -28px;
  left: 21px;
  border: 1px solid #e8e8e8;
  border-bottom: none;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: none;
}

.page-header .panel{

  &.wrapper {
    background-color: white;
    color: black;
    border-bottom: none;
  }

  &.header {
    padding: 0px;
  }
}

.page-header {
  background-color: white;
}

.nav-sections-item-content{
  background-color: #ff5402;
}

.navigation {
  background: none;
  width: auto;
  flex: 1 0 auto;
  margin-left: 16%;
  color: black;

  ul {
   display: flex;
  }

  .level-top {
    margin: 10px;
  }


  .level0 {
    margin: 0 !important;
    border: 1px solid #e8e8e8 !important;
    border-right: none !important;
    border-bottom: none !important;

    width: 9%;
    flex: 1 0 auto;
    text-align: center;

    &:last-child {
      border-right: 1px solid #e8e8e8 !important;
    }

    &:first-child {
      border-left: none !important;
    }

    &> .level-top {
      color: black;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }

  .level1 {
    text-align: left;
    border: none;
  }

  .ui-menu-item {

  }
}


.block-search {
  width: 25px;
  overflow: hidden;
  position: unset;

  .action.search::before {
    display: none;
  }


  .block-content {
    visibility: hidden;
    position: absolute;
    left: 95%;
    top: 0%;
    width: 3%;

  }

  .search-icon__checkbox,
  .search-icon__close {
    display: none;
  }

  .search-icon__open {
    position: absolute;
    top: 24px;
    left: 96%;
    z-index: 500;
  }

  .search-icon__closed {
   z-index: 401;
  }

  .search-icon__checkbox:checked {

    &~ .search-icon__close  {
      position: absolute;
      top: 24px;
      left: 96%;
      display: initial;
      z-index: 400;
      background-color: white;
    }

    &~ .search-icon__open {
      display: none;
    }

    &~ .block-content {
      visibility: visible;
      transition: 1s;
      left: 16.7%;
      width: 82%;

      .input-text {
        height: 69px;
        }
    }
  }
}

.nav-sections {
  border-bottom: 2px solid #e8e8e8;
}



